@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*cafecopy-----------------------------------*/
body {
	background-color: whitesmoke;
  }
  
  .main_cover{
	position: fixed;
	width: 100%;
	visibility: hidden;
	z-index: -1;  
	-webkit-transition: .3s;
	transition: .3s;
  }
  .main_cover.active{
	height:100%;
	visibility: visible;
	z-index: 2;
  }
  
  /*cafecopy-----------------------------------*/
  .wrap-header {
	width: 100%;
  }
  
  .header {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 10px 0 10px 0;
	align-items: center;
  }
  
  .top-in {
	margin-right: 50px;
  }
  
  .header img:hover {
	cursor: pointer;
  }
  
  .container-header {
	z-index: 5;
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	border-bottom: 1px solid black;
  }
  
  .header a:hover {
	cursor: pointer;
	color: grey;
  }
  
  .sign-in:hover {
	cursor: pointer;
	color: grey;
  }
  
  .ham-menu:hover {
	color: grey;
  }
  
  .top-nav ul {
	display: flex;
  }
  
  .top-nav ul li a {
	color: black;
	margin: 0px 20px;
  }
  
  .top-nav ul li a:hover {
	cursor: pointer;
  }
  /*----------------------------------*/
  
  .cover-header {
	display: flex;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;
  }
  
  .logo-p ,
  .navi-box {
	margin: 20px;
  }
  
  .navi-box {
	display: flex;
	justify-content: space-between;
	width: 50%;
  }
  
  

/*login.php--------------------------------------------------------------------------*/

.wrap-login {
	width: 100%;
}

.cover-login {
	max-width: 500px;
	margin: 50px auto;
}

.login-p {
	margin-top: 100px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	background: linear-gradient(0deg, lightgreen, lightblue,transparent);
	border-radius: 6px;
}

.login-box {
	margin-top: 150px;
	background-color: white;
	border-radius: 6px;
	border: 1px solid lightgrey;
}

.login-form {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.login-label {
	font-weight: bold;
}

#inputName ,
#inputEmail ,
#inputPassword {
	width: 100%;
	height: 40px;
	margin-top: 6px;
	font-size: 20px;
	text-align: center;
	border-radius: 6px;
	border: 1px solid black;
}

.login-div {
	padding: 16px 50px;
	margin-top: 30px;
	text-align: right;
	background: linear-gradient(180deg, lavender, transparent);
	border-radius: 6px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login-button {
	font-size: 16px;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 26px;
	height: 34px;
	background-color: aliceblue;
	width: 100%;
}

.form-p {
	width: 28%;
}

.login-button:hover {
	cursor: pointer;
}

.login-flex {
	display: flex;
	padding-top: 30px;
}

.log-attention {
	color: red;
	font-size: 14px;
}

.acount-a {
	color: blue;
}

.acount-a:hover {
	cursor: pointer;
	color: darkblue;
}

/*register.php-------------------------------------------------------------------------------*/

.red {
	color: red;
}

.register-p {
	text-align: center;
	font-weight: bold;
    font-size: 22px;
    padding-top: 30px;
}

.register-pp {
	text-align: center;
}

#registerCountry {
	font-size: 18px;
	text-align: center;
	height: 40px;
	width: 100%;
	border-radius: 6px;
	border: 1px solid black;
}

.register-flex {
	display: flex;
	margin-top: 30px;
	align-items: center;
}

.cover-register-select {
	text-align: left;
	margin-top: 6px;
}

.register-exp {
	color: red;
	font-size: 14px;
}

input::placeholder {
	color: silver;
}

.span-avatar {
	color: black;
}

#file {
	margin-top: 20px;
}

.file-p {
	background-color: white;
    height: 40px;
    text-align: center;
}

.zero {
	color: silver;
}

.submit-p {
	width: 20%;
}

/*footer-----------------------------------------*/

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrap-footer {
  background-color:	#333333
}

.container-footer {
  max-width: 1000px;
  margin: 0 auto;
}

.guest-flex ,
.member-flex {
  display: flex;
}

.footer-p1 ,
.footer-p2 ,
.footer-exp-p1 ,
.footer-exp-p2 {
  color: white;
  font-size: 18px;
  padding: 20px;
}

.footer-p1 ,
.footer-p2 {
  width: 20%;
}

.footer-ul {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-a {
  color: white;
  font-size: 16px;
}

.link-p {
  color: white;
  text-align: center;
  margin: 10px 0px;
}

.footer-nav {
  padding-bottom: 20px;
}

/*footer-----------------------------------------*/

@media screen and (max-width: 860px) {
		
	/*ハンバーガーメニュー-----------------------------*/
	
	.menu-btn {
	  position: fixed;
	  top: 24px;
	  right: 20px;
	  display: flex;
	  height: 45px;
	  width: 45px;
	  justify-content: center;
	  align-items: center;
	  z-index: 90;
	  background-color: black;
	  border-radius: 50px;
	}
	.menu-btn span,
	.menu-btn span:before,
	.menu-btn span:after {
	  content: '';
	  display: block;
	  height: 3px;
	  width: 25px;
	  border-radius: 3px;
	  background-color: #ffffff;
	  position: absolute;
	}
	.menu-btn span:before {
	  bottom: 8px;
	}
	.menu-btn span:after {
	  top: 8px;
	}
	
	.menu-btn:hover {
	  cursor: pointer;
	  opacity: 0.8;
	}
	
	#menu-btn-check {
	  display: none;
	}
	
	/*メニュー装飾-------------------------------------*/
	
	.menu-content {
	  width: 180px;
	  position: absolute;
	  top: 0;
	  right: 101%;
	  z-index: 80;
	  background-color: white;
	  border-radius: 12px;
	  display: none;
	}
	
	.menu-content.active {
	  display: block;
	  width: 180px;
	  position: fixed;
	  top: 86px;
	  right: 20px;
	  z-index: 80;
	  background-color: white;
	  border-radius: 12px;
	  box-shadow: 0 0 8px lightgrey;
	}
	
	.menu-content ul li {
	  list-style: none;
	}
	.menu-content ul li a {
	  display: block;
	  width: 100%;
	  font-size: 15px;
	  box-sizing: border-box;
	  color:black;
	  text-decoration: none;
	  padding: 0px 20px 10px 20px;
	  margin-top: 12px;
	  position: relative;
	}
	.menu-content ul li a::before {
	  content: "";
	  width: 7px;
	  height: 7px;
	  border-top: solid 2px #ffffff;
	  border-right: solid 2px #ffffff;
	  transform: rotate(45deg);
	  position: absolute;
	  right: 11px;
	  top: 16px;
	}
	
	.container-hamburger-menu {
	  border-top: 1px solid lightgrey;
	}
	
	
	/*ハンバーガーメニュー------------------------------*/
	
	.header img {
	  margin-left: 10px;
	}
	
	.top-nav ,
	.header .pc-nav {
	  display: none;
	}
	
	.wrap-top {
	  height: 600px;
	}
	
	.wrap-top img {
	  height: 600px;
	}
	
	.container-images {
	  margin: 0px 20px 0px 20px;
	}
	
	.container-top-p {
	  font-size: 40px;
	}
	
	
	
	.images li {
	  width: 50%;
	}
	
	.container-location {
	  margin: 0px 20px 0px 20px;
	}
	
	.location-images {
	  display: flex;
	  flex-wrap: wrap;
	}
	
	.location-images li {
	  width: 50%;
	}
	
	.location-images .li-intro1 ,
	.location-images .li-intro3 {
	  margin-left: 0px;
	}
	
	.p-eats {
	  position: static;
	  width: 100%;
	}
	
	.container-cafe {
	  margin: 0px 20px 0px 20px;
	}
	
	.container-joining {
	  margin: 0px 20px 0px 20px;
	}
	
	.container-top-p {
	  margin-left: 20px;
	}
	
	
	/*お問い合わせフォーム---------------------------------------------------------------*/
	
	.flex-upload-account {
	  width: 90%;
	}
	
	.mypage-a {
	  width: 94%;
	}
	
	.wrap-record ,
	.wrap-use {
	  width: 70%;
	}
	
	}
	
	@media screen and (max-width: 550px) {

		.login-box {
			margin-top: 120px;
		}
	
		.wrap-login {
			width: 92%;
			margin: 0 auto;
		}

		.login-div {
			display: block;
		}

		.block-p {
			margin: 16px 0px;
			text-align: center;
			width: 100%;
		}

		.login-flex {
			display: block;
		}
	
		.form-p {
			width: 100%;
		}

		.login-button {
			width: 70%;
		}

		#inputName ,
		#inputEmail ,
		#inputPassword {
			font-size: 16px;
		}

		/*footer-----------------------------------------*/

		footer {
			position: static;
		}

.container-footer {
  max-width: 1000px;
  margin: 0 auto;
}

.guest-flex ,
.member-flex {
  display: block;
}

.footer-p1 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 18px;
  padding: 20px 0px 0px 20px;
}

.footer-exp-p1 {
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.footer-p2 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 18px;
  padding: 0px 0px 0px 20px;
}

.footer-exp-p2 {
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.footer-ul {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-ul li {
  text-align: center;
  margin-top: 10px;
}

.footer-a {
  color: white;
  font-size: 16px;
}

.link-p {
  color: white;
  text-align: center;
  margin: 10px 0px;
}

/*footer-----------------------------------------*/

	}

@media screen and (min-width: 861px) {
	.hamburger-menu{
	  display: none;
	}
  }